// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$color-gold: #e1b67f; // Main Primary color */
$color-gold-light-1: #ffeed8;
$color-gold-light-2: #ffdfb6;
$color-gold-dark-1: #b8874a;
$color-gold-dark-2: #8d5d21;

$color-secondary-1-0: #e1cf7f; // Main Secondary color (1) */
$color-secondary-1-1: #fff8d8;
$color-secondary-1-2: #fff2b6;
$color-secondary-1-3: #b8a44a;
$color-secondary-1-4: #8d7a21;

// $color-burgundy: #dd7d82; // Main Secondary color (2) */
$color-burgundy-light-1: #fdd6d8;
$color-burgundy-light-2: #fbb3b7;
$color-burgundy: #b4484e;
$color-burgundy-dark-2: #8b2026;

button,
button:hover,
button:focus {
  outline: none !important 
  ;
}

main {
  min-height: 65vh;
}
