// .hero {
//   font-size: 1.5rem;
//   overflow: hidden;
//   h1 {
//     font-size: 2.5rem;
//     &.ask {
//       font-weight: 300;
//       color: $color-gold-light-1;
//     }
//     &.answer {
//       color: $color-gold;
//       font-weight: 400;
//     }
//   }
//   h3 {
//     color: #fff;
//   }
//   &:after {
//     content: "";
//     width: 100%;
//     height: 100%;
//     background-image: linear-gradient(90deg, $color-gold, $color-burgundy);
//     z-index: 10;
//     opacity: 0.6;
//   }
// }
.features {
  background-image: linear-gradient(
    -90deg,
    $color-burgundy-light-1,
    $color-gold-light-1
  );
  font-size: 1.2rem;

  color: darken($color-gold-dark-2, 20);
  h1 {
    color: $color-burgundy;
  }
  .blond {
    position: relative;
  }

  .oval {
    border-radius: 50%;
    overflow: hidden;
  }
  .pearls {
    position: absolute;
    top: 70%;
    width: 50%;
    right: 10%;
  }
}
.promo {
  font-size: 1.5rem;
  color: darken($color-gold-dark-2, 20);
  h1 {
    color: $color-burgundy;
  }
  strong {
    color: saturate($color-burgundy, 20);
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
  }
}
.advantages {
  background-image: linear-gradient(
    -90deg,
    $color-burgundy-dark-2,
    $color-burgundy
  );

  h1 {
    color: $color-gold;
  }
  h3 {
    margin-bottom: 1.5rem;
    color: $color-gold-light-1;
  }
  p {
    margin-bottom: 2rem;
  }
  color: #fff;
  font-size: 1.2rem;
}
.working {
  color: darken($color-gold-dark-2, 20);
  h1 {
    color: $color-burgundy;
  }
  h3 {
    margin-bottom: 1.5rem;
    color: $color-gold-dark-1;
    font-size: 1.6rem;
  }
  .table {
    background-image: linear-gradient(
      90deg,
      $color-gold-light-1,
      $color-burgundy-light-1
    );
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
  }
  .clock {
    padding-top: 1rem;
    max-width: 350px;
    height: auto;
  }
}
