@import "custom";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/bootstrap-grid";

@import "header";
@import "footer";

// @import "indexPage";
// @import "aboutPage";
// @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700|Cormorant Garamond:300,500,700&amp;subset=cyrillic");

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  color: darken($color-gold-dark-2, 20);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 1;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  // text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.4rem;
}

button.cta {
  background: linear-gradient(
    90deg,
    saturate($color-burgundy, 50),
    darken($color-burgundy, 10)
  );
  border-radius: 30px;
  color: $color-gold-light-1;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
  &:hover {
    color: #fff;
  }
}
